[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tabula-py = "*"
pandas = "*"
python-csv = "*"
colored = "*"
fg = "*"

[dev-packages]

[requires]
python_version = "3.9"
